@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-bg: #1a1a1d;
    --purple-1: #371b58;
    --purple-2: #4c3575;
    --purple-3: #5b4b8a;
    --purple-4: #7858a6;
}

html {
    background: var(--dark-bg);
}
